// Your application styles go here
/* color pallete */

$grayBackground: #e0e0e0;
$whiteBackground: #ffffff;
$UHCtextGray: #444444;
$darkBlue: #033e9f;
$aquaBlue: #0097b0;
$orange: #ff6914;
$purple: #673ab6;
$tabGrayLight: #444444;
$tabGrayDark: #333333;
$darkGreen: #008000;
$aquaGreen: #3ab68f;
$lightGreen: #89b63a;
/* login page */


// universal's

table {
    width: 100% !important;
    font-size: 14px;
    th,td{
        border: 1px solid black;
        padding: 5px;
        text-align: center;
    }
}

th {
    font-weight: bold;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
background: #FFFFFF;
}

.checkbox input:checked:after, .checkbox input:checked + .checkbox-icon:after{
	border-top-color: initial;
border-top-style: initial;
border-top-width: 0px;
border-right-color: initial;
border-right-style: initial;
border-right-width: 0px;
border-bottom-color: $orange;
border-bottom-style: solid;
border-bottom-width: 3px;
border-left-color: $orange;
border-left-style: solid;
border-left-width: 3px;
}

.pane {
    background-color: $grayBackground;
    .list-inset {
        background: none;
        padding: none;
    }
    a {
        color: $darkBlue;
    }
}
.bar.bar-stable {
    background-color: $grayBackground;
}
.btn-login {
    background-color: $darkBlue;
    color: white;
    border-radius: 10px;
    padding: 0 12px !important;
    font-weight: bold;
    // margin: 20px 10px;
}
// search 
//icons in search
div.bar.bar-header.item-input-inset > label > i, div.bar.bar-header.item-input-inset > button > i {
    color: black;
}
div.bar.bar-header.item-input-inset > label {
    background: white;
}
// cards
.card {
    border-top-style: none !important;
   
    h2 {
        font-size: 2.1em;
        font-weight:200;
    }
    .item p {
        font-size: 17px;
    }
    div.item.item-text-wrap > div > div.item.item-avatar > img {
        max-width: 55px;
        max-height: 55px;
    }

    .item-avatar{
    	border:none;
    }
}
//blue card
.blue-card {
    border-top-style: solid;
    border-width: 7px;
    border-color: $aquaBlue;
    .item p {
        font-size: 17px;
    }
    h2 {
        color: $aquaBlue;
        font-family: 'Myriad Pro';
        font-size: 2.1em;
        background: white;
        font-weight:200;
        div.item.item-text-wrap > div > div.col-30 > i {
            transform: scale(2, 2);
        }
    }
    .reminder {
        color: $aquaBlue !important;
        font-size: 25px;
    }
}

// orange card 

.orange-card{
	border-top-style: solid;
    border-width: 7px;
    border-color: $orange;
}

.green-card{
    border-top-style: solid;
    border-width: 7px;
    border-color: $aquaGreen;
}



//purple-card

.purple-card{
	border-top-style: solid;
    border-width: 7px;
    border-color: $purple;
    color:$purple;

    .h2 {
    	color:$purple;
        font-family: 'Myriad Pro';
        font-size: 2.1em;
        background: white;
        font-weight:200;
    }
    .reminder {
        color: $purple !important;
        font-size: 25px;
    }

}


  span.gc-cs-link{
    	color:$UHCtextGray !important;
    }

// tabs 
ion-nav-view > ion-tabs > div.tabs {
    background: $UHCtextGray;
    color: white;
}
.dash-header {
    color: $UHCtextGray !important;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    font-family: 25px !important;
}

//Details Page
.compare-header {
    color: #ffffff !important;
    text-transform: uppercase;
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 12px !important;
}

//helpers

.center-text{
    text-align:center;
}

.scale2 {
    transform: scale(2, 2);
}
// colors
.gray {
    color: $UHCtextGray !important;
}
.orange {
    color: $orange;
}

.purple{
	color:$purple !important;
}

.no-padding {
    padding: 0px !important;
}

.aqua{
    color:$aquaBlue !important;
}

.black{
    color:$tabGrayLight;
}


.scroll{
	height:100%;
}



.slider {
  // height: 100%;

  .slider-slide {
    // padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
  }
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 63px;
  margin: 50px auto;
  margin-top: 0px;
  font-size: 20px;

  ol {
    margin-top: 30px;
    color: #145fd7;

    li {
      text-align: left;
      list-style: decimal;
      margin: 10px 0px;
      font-size: 18px;
    }
  }
}

.xs-small {
    font-size: 15px !important;
}

.slider-pager {
    bottom: 0px;
}

.button.button-positive.button-clear{
    color:#FFF !important;
}

// .view .button {
//     color: #FFF;
//     background: #ff6915;
//     border-color: #ff6915;
//     font-weight: bold;
// }

ion-slide:nth-child(1) > p{
    color: $darkBlue;
    font-size: 18px;
}

ion-slide:nth-child(3) > p:nth-child(3), ion-slide:nth-child(3) > p:nth-child(5){
    font-size: 18px;
}


// accordion 

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
  border-bottom:solid;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}


// scenario - 2 imported

img {
    padding-right: 10px;
}

table {
    width: 50%;
    font-size: 14px;
    th,td{
        border: none;
        padding: 5px;
        text-align: center;
    }
}

th {
    font-weight: bold;
}

.pane {
    background-color: $grayBackground;
    .list-inset {
        background: none;
        padding: none;
    }
    a {
        color: #693DB6;
        text-decoration: none;
    }
}
.bar.bar-stable {
    background-color: $grayBackground;
}
.btn-login {
    background-color: $darkBlue;
    color: white;
    border-radius: 10px;
    padding: 0 12px !important;
    font-weight: bold;
    // margin: 20px 10px;
}
// search 
//icons in search
div.bar.bar-header.item-input-inset > label > i, div.bar.bar-header.item-input-inset > button > i {
    color: black;
}
div.bar.bar-header.item-input-inset > label {
    background: white;
}
// cards
.card {
    border-top-style: solid;
    border-width: 7px;
    h2 {
        font-size: 2.1em;
    }
    .item p {
        font-size: 17px;
    }
    div.item.item-text-wrap > div > div.item.item-avatar > img {
        max-width: 55px;
        max-height: 55px;
    }
}
//blue card
.blue-card {
    border-top-style: solid;
    border-width: 7px;
    border-color: $aquaBlue;
    .item p {
        font-size: 17px;
    }
    h2 {
        color: $aquaBlue;
        font-family: 'Helvetica Neue';
        font-weight: 100px;
        font-size: 2.1em;
        background: white;
        div.item.item-text-wrap > div > div.col-30 > i {
            transform: scale(2, 2);
        }
    }
    .reminder {
        color: $aquaBlue !important;
        font-size: 25px;
    }
}

// blue card 

.dark-blue-card{
    border-top-style: solid;
    border-width: 7px;
    border-color: $darkBlue;
}

// orange card 

.orange-card{
    border-top-style: solid;
    border-width: 7px;
    border-color: $orange;
}



// green card 

.green-card{
    border-top-style: solid;
    border-width: 7px;
    border-color: $aquaGreen;

    .h2{
        color:$aquaGreen;
    }
}

.light-green-card{
    border-top-style: solid;
    border-width: 7px;
    border-color: $lightGreen;

    .h2{
        color:$lightGreen;;
    }
}

  span.gc-cs-link{
        color:$UHCtextGray !important;
    }

// tabs 
ion-nav-view > ion-tabs > div.tabs {
    background: $UHCtextGray;
    color: white;
}
.dash-header {
    color: $UHCtextGray !important;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    font-family: 25px !important;
}

//helpers

.text-align-left{
    text-align:left; 
}

.scale2 {
    transform: scale(2, 2);
}
// colors
.gray {
    color: $UHCtextGray !important;
}
.orange {
    color: $orange;
}

.dark-blue {
    color: $darkBlue;
}

.purple{
    color: $purple !important;
}

.green{
    color: $aquaGreen !important;
}

.light-green{
    color: $lightGreen !important;
}

.no-padding {
    padding: 0px !important;
}


// drag and drop 

 

    *{
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }

// drag and drop

[ng-drag]{
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    [ng-drag]{
        // width: 93px;
        // height: 93px;
        // background: rgba(255,0,0, 0.5);
        color:black;
        text-align: center;
        padding-top:40px;
        display: inline-block;
        margin: 3px 0px 0px 10px;
        cursor: move;
    }
    ul.draggable-objects:after{
        display: block;
        content:"";
        clear:both;
    }
    .draggable-objects li{
        float:left;
        display: block;
        // width: 120px;
        height:100px;
    }
    [ng-drag].drag-over{
        border:solid 1px red;
    }
    [ng-drag].dragging{
        opacity: 0.5;
    }
    [ng-drop]{

        background: #FFF;
        text-align: center;
        width: 150px;
        height: 150px;
        // padding-top:25px;
        // display: inline-block;
        // margin:20px auto;
        // position: relative;
        // left: 9px;
        border-style:solid;
        border-color:gray;
        border-width:1px;
    }
    [ng-drop].drag-enter{
        border:solid 5px red;
    }
    [ng-drop] span.title{
        display: block;
        position: absolute;
        top:37%;
        left:50%;
        width: 200px;
        height: 20px;
        margin-left: -100px;
        margin-top: -10px;
    }
    [ng-drop] div{
        position: relative;
        z-index: 2;
    }


#compareUnit{
    -webkit-box-shadow: 0px 9px 15px -3px rgba(125,125,125,1);
-moz-box-shadow: 0px 9px 15px -3px rgba(125,125,125,1);
box-shadow: 0px 9px 15px -3px rgba(125,125,125,1);
}


.button-aqua {
    background-color: $aquaBlue;
}

img {
    max-width: 100%;
    height: auto;
}

.padding {
    padding-top: 8px !important;
    margin-left: 1px !important;
    padding: 2px;
}



.button-aquaGreen{
    background:#0097b0;
    color:#fff;
}

.modal-backdrop.active > div > ion-modal-view > ion-content > div.scroll > div > div.col-40 > button{
margin-top: 0px Important;
margin-bottom: 0px Important;
background:#gray;
color:#333;
}


