<ion-view title="">
  <ion-content has-header="true" padding="true">
  	<div class="list">
        <div class="list card item-text-wrap blue-card">
          <img src="./images/compare_locations.png" class="col no-padding" />
        </div>
  </ion-content>
</ion-view>
