<style>
.range {
	padding-left: 35px !important;
	padding-right: 57px !important;
}
	
.modal {
	top: 15px !important;
}

.range .icon{
	color: #ff6915 !important;
}

</style>

<ion-modal-view style="height: 557px;">
    <ion-content>
    <img src="./images/paula_header.png" class="col no-padding" />
        <div class="list">
                    <div class="box">
                        <a id="acc-btn" class="item  item-icon-right text-align-left" href="" ng-click="'#acc-btn-chevron', 'ion-chevron-down')">
                             ACL - REPAIR TEAR
                            <i class="ion-chevron-down chevron-icon icon aqua" id="acc-btn-chevron"></i>
                        </a>
                    </div>

                    <div class="box">

                        <a id="acc-btn2" class="item  item-icon-right text-align-left" href="" ng-click="'#acc-btn-chevron2', 'ion-chevron-down')">
                             ACL - RECONSTRUCTION
                            <i class="ion-chevron-down chevron-icon icon aqua" id="acc-btn-chevron2"></i>
                        </a>
                    </div>

                    <div class="box">

                        <a id="acc-btn3" class="item  item-icon-right text-align-left" href="" ng-click="'#acc-btn-chevron3', 'ion-chevron-down')">
                             ARTHROSCOPIC SURGERY
                            <i class="ion-chevron-down chevron-icon icon aqua" id="acc-btn-chevron3"></i>
                        </a>
                    </div>

                    <div class="box">

                        <a id="acc-btn4" class="item  item-icon-right text-align-left" href="" ng-click="'#acc-btn-chevron4', 'ion-chevron-down')">
                             CORTISONE INJECTION
                            <i class="ion-chevron-down chevron-icon icon aqua" id="acc-btn-chevron4"></i>
                        </a>
                    </div>

                    <div class="box">

                        <a id="acc-btn5" class="item  item-icon-right text-align-left" href="" ng-click="'#acc-btn-chevron5', 'ion-chevron-down')">
                             HIP - TOTAL REPLACEMENT
                            <i class="ion-chevron-down chevron-icon icon aqua" id="acc-btn-chevron5"></i>
                        </a>
                    </div>

                    <div class="box">

                        <a id="acc-btn6" class="item  item-icon-right text-align-left" href="" ng-click="reveal('#cont-6', '#acc-btn-chevron6', 'ion-chevron-up')">
                             KNEE - TOTAL REPLACEMENT
                            <i class="ion-chevron-up chevron-icon icon aqua" id="acc-btn-chevron6"></i>
                        </a>
                        <div class="card text-align-left" id="cont-6">
                            <table align="center">
                                <tr style="background-color: #f3f3f3;">
                                    <th>Steps</th>
                                    <th>Your Cost**</th>
                                    <th>Total Cost</th>
                                </tr>
                                <tr>
                                    <td>Initial office visit</td>
                                    <td>$175</td>
                                    <td style="color: #36be83;">$289</td>
                                </tr>
                                <tr style="background-color: #f3f3f3;">
                                    <td>Surgery at Swedish Covenant</td>
                                    <td>$800</td>
                                    <td style="color: #ff9900;">$25,000</td>
                                </tr>
                                <tr>
                                    <td>Surgery at Northwestern Hospital</td>
                                    <td>$1,500</td>
                                    <td style="color: #be3649;">$41,000</td>
                                </tr>
                                <tr style="background-color: #f3f3f3;">
                                    <td>Rehab*</td>
                                    <td>$300-$450</td>
                                    <td>$600-$900</td>
                                </tr>
                                <tr>
                                    <td>Follow-up office visit</td>
                                    <td>$0</td>
                                    <td style="color: #36be83;">$289</td>
                                </tr>
                            </table>
                            <br>
                            <img src="./images/color_chart_modal.png" class="col no-padding" />
                            <img src="./images/color_chart_modal_button.png" class="col no-padding" />
                        </div>
                    </div>

                    <div class="box">

                        <a id="acc-btn7" class="item  item-icon-right text-align-left" href="" ng-click="'#acc-btn-chevron7', 'ion-chevron-down')">
                             MCL - REPAIR TEAR
                            <i class="ion-chevron-down chevron-icon icon aqua" id="acc-btn-chevron7"></i>
                        </a>
                    </div>

                    <div class="box">

                        <a id="acc-btn8" class="item  item-icon-right text-align-left" href="" ng-click="'#acc-btn-chevron8', 'ion-chevron-down')">
                             MCL - RECONSTRUCTION
                            <i class="ion-chevron-down chevron-icon icon aqua" id="acc-btn-chevron8"></i>
                        </a>
                    </div>

                </div>
    	

    <button class="button button-positive" ng-click="closeModal()" style="position: absolute; right: 15px;">Close</button>
    </ion-content>
</ion-modal-view>