<ion-view title='<img class="title-image" src="images/logo.png" />' class="padding">
    <ion-content class="has-header">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                <i class="ion-close-round"></i>
            </button>

            <div class="button-bar" id='button-bar'>
                <a class="button" id='revealCompare' ng-click="openLocModal()"><img src="./images/icon_filter_small.png" class="padding">
                </a>
                <a class="button" ng-click="showCompare('#compareUnit')"><img src="./images/icon_compare_small.png" class="padding">
                </a>
            </div>
        </div>



        <div class="button-bar">
            <a class="button button-clear button-dark" ng-click="slideTo(0)">About</a>
            <a class="button button-clear button-dark" ng-click="slideTo(2)">Cost</a>
            <a class="button button-clear button-dark" ng-click="slideTo(1)">Locations</a>
            <!-- <a class="button button-clear button-dark" ng-click="showList()">List</a> -->
        </div>
        <div id="slider"></div>
        <!-- -->
        <ion-slide-box on-slide-changed="slideHasChanged($index)">

            <ion-slide>
                <div class="card  accor hide hiddenAcc dion lue-card">
                    <div class="item item-divider item-text-wrap">
                        <h2>About MRI</h2>
                    </div>
                </div>
                <div class="list">
                    <div class="box">

                        <a id="acc-btn" class="item  item-icon-right text-align-left aqua" href="" ng-click="reveal('#cont-1', '#acc-btn-chevron', 'ion-chevron-down')">
                         WHAT IT IS
                        <i class="ion-chevron-down chevron-icon icon black" id="acc-btn-chevron"></i>
                    </a>
                        <div class=" hide hiddenAcc card text-align-left" id="cont-1">
                            <p>Magnetic resonance imaging (MRI) is a technique that uses a magnetic field and radio waves to create detailed images of the organs and tissues within your body.</p>
                            <p>Most MRI machines are large, tube-shaped magnets. When you lie inside an MRI machine, the magnetic field temporarily realigns hydrogen atoms in your body. Radio waves cause these aligned atoms to produce very faint signals, which are used to create cross-sectional MRI images — like slices in a loaf of bread.</p>
                            <p>The MRI machine can also be used to produce 3-D images that may be viewed from many different angles.</p>

                        </div>
                    </div>

                    <div class="box">

                        <a id="acc-btn2" class="item  item-icon-right text-align-left aqua" href="" ng-click="reveal('#cont-2', '#acc-btn-chevron2', 'ion-chevron-down')">
                         HOW IT WORKS
                        <i class="ion-chevron-down chevron-icon icon black" id="acc-btn-chevron2"></i>
                    </a>
                        <div class="hide hiddenAcc card text-align-left" id="cont-2">
                            <p>To perform a study, the patient is positioned within an MRI scanner which forms a strong magnetic field around the area to be imaged. In most medical applications, protons (hydrogen atoms) in tissues containing water molecules are used to create a signal that is processed to form an image of the body.</p>

                        </div>
                    </div>

                    <div class="box">

                        <a id="acc-btn3" class="item  item-icon-right text-align-left aqua" href="" ng-click="reveal('#cont-3', '#acc-btn-chevron3', 'ion-chevron-down')">
                         WHY IT'S DONE
                        <i class="ion-chevron-down chevron-icon icon black" id="acc-btn-chevron3"></i>
                    </a>
                        <div class="hide hiddenAcc card text-align-left" id="cont-3">
                            <p>MRI is a noninvasive way for your doctor to examine your organs, tissues and skeletal system. It produces high-resolution images that help diagnose a variety of problems.What to expect</p>

                        </div>
                    </div>

                    <div class="box">

                        <a id="acc-btn4" class="item  item-icon-right text-align-left aqua" href="" ng-click="reveal('#cont-4', '#acc-btn-chevron4', 'ion-chevron-down')">
                         WHAT TO EXPECT
                        <i class="ion-chevron-down chevron-icon icon black" id="acc-btn-chevron4"></i>
                    </a>
                        <div class="hide hiddenAcc card text-align-left" id="cont-4">
                            <p>Before an MRI exam, eat normally and continue to take your usual medications, unless otherwise instructed. You will be asked to change into a gown and to remove:</p>
                            <li>Jewelry</li>
                            <li>Hairpins</li>
                            <li>Eyeglasses</li>
                            <li>Watches</li>
                            <li>Wigs</li>
                            <li>Dentures</li>
                            <li>Hearing aids</li>
                            <li>Underwire bras</li>

                        </div>
                    </div>

                    <div class="box">

                        <a id="acc-btn5" class="item  item-icon-right text-align-left aqua" href="" ng-click="reveal('#cont-5', '#acc-btn-chevron5', 'ion-chevron-down')">
                         RISKS
                        <i class="ion-chevron-down chevron-icon icon black" id="acc-btn-chevron5"></i>
                    </a>
                        <div class="hide hiddenAcc card text-align-left" id="cont-5">
                            <p>The presence of metal in your body may be a safety hazard or affect a portion of the MRI image. Before receiving an MRI, tell the technologist if you have any metal or electronic devices in your body, such as:</p>
                            <li>Metallic joint prostheses</li>
                            <li>Artificial heart valves</li>
                            <li>An implantable heart defibrillator</li>
                            <li>A pacemaker</li>
                            <li>Metal clips</li>
                            <li>Cochlear implants</li>
                            <li>A bullet, shrapnel or any other type of metal fragment</li>
                            <p>Before you schedule an MRI, tell your doctor if you think you're pregnant. The effects of magnetic fields on fetuses aren't well understood. Your doctor may recommend choosing an alternative exam or postponing the MRI.</p>
                            <p>It's also important to discuss any kidney or liver problems with your doctor and the technologist, because problems with these organs may limit the use of injected contrast agents during your scan.</p>

                        </div>
                    </div>

                </div>
                <!-- end of list -->


            </ion-slide>
            <ion-slide>
                <div class="card blue-card">
                    <div class="item item-divider item-text-wrap">
                        <div id="dropBoxes">
                            <div id='compareUnit' scroll='false'>

                                <div class="button-bar">
                                    <a class="button button-aqua compare-header" style="text-align: left !important;">Drag two locations to compare</a>
                                </div>
                                <div class="row ng-scope">

                                    <hr>
                                    <div ng-drop="true" ng-drop-success="onDropComplete1($data,$event)" class="col-50">
                                        <!--  <span class="title">St. Joseph Hospital<br>2900 N. Lake Shore<br>Chicago, IL</span> -->

                                        <!-- ngRepeat: obj in droppedObjects1 -->
                                        <div ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)" ng-center-anchor="true" class="ng-binding ng-scope" draggable="false">
                                            <p class="text-align-left aqua"><b> {{obj.Name}}</b>
                                            </p>
                                            <address class='text-align-left'><small>{{obj.Address}}</small>
                                            </address>
                                        </div>
                                        <!-- end ngRepeat: obj in droppedObjects1 -->
                                    </div>

                                    <div ng-drop="true" ng-drop-success="onDropComplete2($data,$event)" class="col-50">
                                        <!--  <span class="title">Chicago Northside<br>MRI Center<br>1460 N. Halsted<br>Chicago, IL</span> -->

                                        <!-- ngRepeat: obj in droppedObjects2 -->
                                        <div ng-repeat="obj in droppedObjects2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess2($data,$event)" ng-center-anchor="true" class="ng-binding ng-scope" draggable="false">
                                            <p class="text-align-left aqua"><b> {{obj.Name}}</b>
                                            </p>
                                            <address class='text-align-left'><small>{{obj.Address}}</small>
                                            </address>
                                        </div>
                                        <!-- end ngRepeat: obj in droppedObjects2 -->
                                    </div>



                                </div>

                                <button class="button button-full button-aquaGreen" ui-sref="tab.compared">Compare</button>


                            </div>
                            <!-- draggable objects -->
                            <div class="card" ng-repeat="obj in draggableObjects">
                                <div class="item item-text-wrap item-icon-right">
                                    <div class="car draggable-objects">
                                        <!-- ngRepeat: obj in draggableObjects -->
                                        <div class="ng-scope">
                                            <div ng-drag="true" ng-drag-data="obj" class="ng-binding" draggable="false" data-tap-disabled="true">
                                                <p class="text-align-left aqua"><b> {{obj.Name}}</b>
                                                </p>
                                                <address class='text-align-left'><small>{{obj.Address}}</small>
                                                </address>
                                                <i class="ion-checkmark icon orange" id=""></i>
                                                <p align="right" style="position: absolute; right: 5px; bottom: 5px;"><small>in network</small>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <hr>

                        </div>
                    </div>
                </div>

                <!-- list end -->

            </ion-slide>
            <ion-slide>
                
                <div class="list">
                    <div class="box">
                        <a id="acc-btn" class="item  item-icon-right text-align-left aqua" href="" ng-click="reveal('#cont-6', '#acc-btn-chevron6', 'ion-chevron-down')">
                         GENERAL INFORMATION
                        <i class="ion-chevron-down chevron-icon icon black" id="acc-btn-chevron6"></i>
                    </a>
                        <div class="card accor  hide hiddenAcc dion ext-align-left" id="cont-6">
                            <p>MRI cost can range between $400 to $3,500 depending upon which MRI procedure is performed (example: brain vs. shoulder) and where you have the test performed. The same exact MRI test can vary by hundreds of dollars from testing facility to testing facility.</p>

                        </div>
                    </div>

                    <div class="box">
                        <a id="acc-btn" class="item  item-icon-right text-align-left aqua" href="" ng-click="reveal('#cont-7', '#acc-btn-chevron7', 'ion-chevron-down')">
                         COST BREAKUP
                        <i class="ion-chevron-down chevron-icon icon black" id="acc-btn-chevron7"></i>
                    </a>
                        <div class="card accor hide hiddenAcc dion ext-align-left" id="cont-7">
                            <p>MRI costs are broken up into two areas:</p>
                            <li>Technical Fees: the cost of the procedure</li>
                            <li>Professional Fees: the fee associated with having the radiologist interpret the test result</li>

                        </div>
                    </div>

                    <div class="box">
                        <a id="acc-btn" class="item  item-icon-right text-align-left aqua" href="" ng-click="reveal('#cont-8', '#acc-btn-chevron8', 'ion-chevron-down')">
                         PRIOR AUTHORIZATION
                        <i class="ion-chevron-down chevron-icon icon black" id="acc-btn-chevron8"></i>
                    </a>
                        <div class="card accor hide hiddenAcc dion ext-align-left" id="cont-8">
                            <p>UHC, and most health insurance companies, require prior authorization, also called pre-approval, before you have the MRI. Usually the doctor or imaging facility will do this for you, but please check that they have a "pre-auth" number before you get your test. If you don't, UHC may not cover the cost.</p>

                        </div>
                    </div>

                    <div class="box">
                        <a id="acc-btn" class="item  item-icon-right text-align-left aqua" href="" ng-click="reveal('#cont-9', '#acc-btn-chevron9', 'ion-chevron-down')">
                         WHY PRIOR AUTHORIZATION?
                        <i class="ion-chevron-down chevron-icon icon black" id="acc-btn-chevron9"></i>
                    </a>
                        <div class="card accor hide hiddenAcc dion ext-align-left" id="cont-9">
                            <p>Because MRIs are so expensive, this prevents unnecessary expense in situations where other, less expensive options, may be equally as useful.</p>

                        </div>
                    </div>

                    <div class="box">
                        <a id="acc-btn" class="item  item-icon-right text-align-left aqua" href="" ng-click="reveal('#cont-10', '#acc-btn-chevron10', 'ion-chevron-down')">
                         YOUR COST
                        <i class="ion-chevron-down chevron-icon icon black" id="acc-btn-chevron10"></i>
                    </a>
                        <div class="card accordion text-align-left" id="cont-10">
                            <p>Since the cost of an MRI varies widely by location, we cannot provide an exact cost here. You can find more exact information with the details of individual imaging facilities.</p>

                        </div>
                    </div>

            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
