<ion-view title='<img class="title-image" src="/images/logo.png" />'>
    <ion-content has-header="true" padding="true">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper" for="autocomplete">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="foo" auto-complete id="autocomplete" placeholder="Search" ng-keypress="showList()" ng-blur="hideList" />
            </label>
            <button class="button button-clear" ng-click='hideList()'>
                <i class="ion-gear-b"></i>
            </button>
        </div>

        <div class="listItem bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                {{foo}}
            </label>

        </div>
         <div class="listItem bar bar-header item-input-inset" ng-click="gotTo('tab.details')">    
            <label class="item-input-wrapper" >
                MRI
            </label>
        </div>

        <div class="listItem  bar bar-header item-input-inset" ng-click="gotTo('tab.doc-details')">    
            <label class="item-input-wrapper">
                Paula Ward
            </label>

        </div>

        <div class="listItem  bar bar-header item-input-inset" ng-click="gotTo('tab.loc-details')">
            <label class="item-input-wrapper">
                Northwestern Hospital
            </label>

        </div>


        <div class="list">
            <br>
            <img src="./images/northwester_hospital.png" class="col no-padding" />
            <div class="list card item-text-wrap orange-card">
                <div class="item item-text-wrap">
                    <p><b>HOSPITAL QUALITY</b></p>
                    <img src="./images/hospital_quality.png" class="col no-padding" />
                </div>

                <div class="item item-text-wrap">
                    <p><b>SPECIALTIES</b></p>
                    <i class="ion-stop icon aqua" id=""></i> Anesthesiology
                    <br>
                    <i class="ion-stop icon aqua" id=""></i> Emergency Medicine
                    <br>
                    <i class="ion-stop icon aqua" id=""></i> Pathology
                    <br>
                    <i class="ion-stop icon aqua" id=""></i> Radiology
                </div>

                <div class="item item-text-wrap">
                    <p><b>COST OF MRI</b>
                    </p>
                    <table align="center">
                        <tr style="background-color: #f3f3f3;">
                            <th>Type of MRI</th>
                            <th>Your Cost</th>
                            <th>Average Cost</th>
                        </tr>
                        <tr>
                            <td>Without contrast</td>
                            <td>$358-$1,149</td>
                            <td style="color: #ff9900;">$526-$1,149</td>
                        </tr>
                        <tr style="background-color: #f3f3f3;">
                            <td>With contrast</td>
                            <td>$627-$2,312</td>
                            <td style="color: #be3649;">$1,048-$2,312</td>
                        </tr>
                    </table>
                    <img src="./images/color_chart_hospital.png" class="col no-padding" />
                    <br>
                    <p class="aqua">Know the type of procedure?</p>
                    <a class="button button-calm">Select to find cost</a>
                    <br>
                    <br>
                    <img src="./images/hospital_cost_chart.png" class="col no-padding" />
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>