<style>
.range {
    padding-left: 35px !important;
    padding-right: 57px !important;
}
.modal {
    top: 15px !important;
}
.range .icon {
    color: #ff6915 !important;
}
</style>

<ion-modal-view style="height: 530px;">
    <ion-header-bar>
        <h1 class="title">Search Preferences</h1>
    </ion-header-bar>
    <!-- <button class="button button-positive" ng-click="closeModal()">Search Filters
	</button> -->
    <ion-content>

        <div class="row">

            <div class="col-40">
                <!-- buttons -->
                <button class="button button-block icon-left ion-navicon" ng-click="showOONP">
                    <small>COST</small>
                </button>

                <button class="button button-block icon-left ion-navicon" ng-click="showSlider">
                    <small>HOURS</small>
                </button>
                <button class="button button-block icon-left ion-navicon">
                    <small> WAIT TIME</small>
                </button>
                <button class="button button-block icon-left ion-navicon">
                    <small>QUALITY</small>
                </button>

                <button class="button button-block icon-left ion-navicon">
                    <small>LOCATION</small>
                </button>

                <button class="button button-block icon-left ion-navicon">
                    <small>LANGUAGE</small>
                </button>
            </div>


            <div class="col-60 padding">
            
            <p><small style='text-align:center'>include out-of-network providers</small></p>
            <br>
                <label class="toggle">

                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            
            </div>



        </div>

        <!-- <p style="margin-left: 15px; margin-top: 10px; font-size: 18px;"><b>What's most important for you in a plan?</b></p>
    	<div class="list" style="padding: 10px 1px;">
    		<p align="center" style="font-size: 16px !important; margin-top: 10px;">In Network Physicians:</p>
			<div class="item range range-positive">
				<i class="icon">0 %</i>
				<input ng-model="dataNd.networkDocs" type="range" name="networkDocs" style="margin-left: 34px;" min="0" max="100">
				<i class="icon ">{{dataNd.networkDocs}} %</i>

			</div>
			<p align="center" style="font-size: 16px !important; margin-top: 10px;">Deductible:</p>
			<div class="item range range-positive">
				<i class="icon">0 %</i>
				<input ng-model="dataD.deductible" type="range" name="deductible" style="margin-left: 34px;" min="0" max="100">
				<i class="icon">{{dataD.deductible}} %</i>
			</div>
			<p align="center" style="font-size: 16px !important; margin-top: 10px;">Out of Pocket:</p>
			<div class="item range range-positive">
				<i class="icon">0 %</i>
				<input ng-model="dataOP.outPocket" type="range" name="outPocket" style="margin-left: 34px;" min="0" max="100">
				<i class="icon ">{{dataOP.outPocket}} %</i>
			</div>
			<p align="center" style="font-size: 16px !important; margin-top: 10px;">Dental:</p>
			<div class="item range range-positive">
				<i class="icon">0 %</i>
				<input ng-model="dataDT.dental" type="range" name="dental" style="margin-left: 34px;" min="0" max="100">
				<i class="icon ">{{dataDT.dental}} %</i>
			</div>
		</div>
		 <button class="button button-positive" ng-click="closeLocModal()" style="position: absolute; right: 15px; margin-top: -15px;">Close</button>-->
    </ion-content>
</ion-modal-view>
