<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title='<img class="title-image" src="/images/logo.png" />'>
    <ion-content has-header="true" padding="true">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper" for="autocomplete">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="foo" auto-complete id="autocomplete" placeholder="Search" ng-keypress="showList()" ng-blur="hideList" />
            </label>
            <button class="button button-clear" ng-click='hideList()'>
                <i class="ion-gear-b"></i>
            </button>
        </div>

        <div class="listItem bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                {{foo}}
            </label>

        </div>
         <div class="listItem bar bar-header item-input-inset" ng-click="gotTo('tab.details')">    
            <label class="item-input-wrapper" >
                MRI
            </label>
        </div>

        <div class="listItem  bar bar-header item-input-inset" ng-click="gotTo('tab.doc-details')">    
            <label class="item-input-wrapper">
                Paula Ward
            </label>

        </div>

        <div class="listItem  bar bar-header item-input-inset" ng-click="gotTo('tab.loc-details')">
            <label class="item-input-wrapper">
                Northwestern Hospital
            </label>

        </div>


        <div class="list">
            <br>
            <img src="./images/paula_ward.png" class="col no-padding" />
            <div class="list card item-text-wrap orange-card">

                <div class="item item-text-wrap">
                    <p><b>QUALIFICATIONS</b></p>
                    <i class="ion-stop icon aqua" id=""></i> Dermatology (Board Certified)
                    <br>
                    <i class="ion-stop icon aqua" id=""></i> University of Oklahoma Medical School 2001
                </div>
                <div class="item item-text-wrap">
                    <p><b>EXPERTISE</b></p>
                    <img src="./images/expertise.png" class="col no-padding" />
                </div>

                <div class="item item-text-wrap">
                    <p><b>PHILOSOPHY</b></p>
                    <p>I see myself as an advisor supporting the patient. I help lead them to well-being, but ultimately it's up to the patient to decide what they want to do.</p>
                </div>

                <div class="item item-text-wrap">
                    <p><b>HOSPITAL AFFILIATIONS</b></p>
                    <img src="./images/affiliations.png" class="col no-padding" />
                </div>

                <div class="item item-text-wrap">
                    <p><b>COST OF MOST FREQUENT PROCEDURES</b>
                    </p>
                    <table align="center">
                        <tr style="background-color: #f3f3f3;">
                            <th>Procedure</th>
                            <th>Your Cost</th>
                            <th>Total Cost</th>
                        </tr>
                        <tr>
                            <td>Office Visit</td>
                            <td>$40</td>
                            <td style="color: #be3649;">$178</td>
                        </tr>
                        <tr style="background-color: #f3f3f3;">
                            <td>Cortisone Injection</td>
                            <td>$175</td>
                            <td style="color: #be3649;">$360</td>
                        </tr>
                        <tr>
                            <td>ACL Repair</td>
                            <td>$900-$3,700</td>
                            <td style="color: #ff9900;">$7,000-$8,500</td>
                        </tr>
                        <tr style="background-color: #f3f3f3;">
                            <td>Hip Replacement</td>
                            <td>$3,700-$15,000</td>
                            <td style="color: #36be83;">$22,500-$34,000</td>
                        </tr>
                    </table>
                    <img src="./images/color_chart.png" class="col no-padding" />
                    <br>
                    <p class="aqua">Know the type of procedure?</p>
                    <a class="button button-calm" ng-click="openModal()">Select to find cost</a>
                    <br>
                    <br>
                    <p><b>OTHER LOCATIONS</b></p>
                    <img src="./images/other_locations.png" class="col no-padding" />
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
