<ion-view title='<img class="title-image" src="/images/logo.png" />'>
  <ion-content has-header="true" padding="true">
  <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper" for="autocomplete">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="foo" auto-complete id="autocomplete" placeholder="Search" ng-keypress="showList()" ng-blur="hideList"/>
            </label>
            <button class="button button-clear" ng-click='hideList()'>
                <i class="ion-gear-b" ></i>
            </button>
        </div>
  <h2 class="purple" style="font-weight: 200;">Health</h2>
  <i class="icon ion-ios-heart-outline"></i>
  	<div class="list">
    
        <div class="list card item-text-wrap">
          <div class="card purple-card" style="border-top-style: solid !important;">
            <div class="item item-divider item-text-wrap" ng-click="showList()">
                <h2 class="purple">Stay Healthy</h2>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="item item-avatar">
                        <img src="/images/calender.png" class="col no-padding" />
                    </div>
                    <div class="col-75 padding item-text-wrap">
                        <p class="dash-header">Annual Physical</p>
                        <p class="reminder">Make an appointment with Dr. Wang</p>
                    </div>

                </div>
            </div>

            <div class="item item-text-wrap">
                <div class="row">
                    <div class="item item-avatar">
                        <img src="/images/health.png" class="col no-padding" />
                    </div>
                    <div class="col-75 padding">
                        <p class="dash-header">Colonoscopy</p>
                        <p class="reminder">Find a Gastroenterologist</p>
                    </div>

                </div>
            </div>

          <div class="card purple-card" style="border-top-style: solid !important;">  
            <div class="item item-text-wrap">
              <h2 class="purple">Health Snapshot</h2>
              <i class="ion-stop icon purple" id=""> HAIRLINE FRACTURE OF LEFT FIBULA</i>
              <p>fractured on 2/19/2015</p>
              
              <i class="ion-stop icon purple" id=""> HIGH CHOLESTEROL</i>
              <p>Last tested: 4/30/2014</p>
                <li>Total cholesterol: 255</li>
                <li>LDL: 200</li>
                <li>HDL: 150</li>
                <li>Triglycerides: 210</li>

              <i class="ion-stop icon purple" id=""> ADHD</i>
              <p>diagnosed in childhood</p>
              <p>under control with medication</p>

              <i class="ion-stop icon purple" id=""> SEASONAL RHINITIS</i>
              <p>unspecified trees, pollen, and mold</p>
              <p>under control with medication</p>
            </div>
          </div>
        </div>

        <div class="card purple-card" style="border-top-style: solid !important;">  
          <div class="item item-text-wrap">
          	<img src="./images/dr_johnson.png" class="col no-padding" />
            <i class="ion-checkmark icon purple" id=""></i> Take 2 Advil 200mg each AM &amp; PM for 10 days<br>Ice left foot 3x/day for 4 days
            <br>
            <br>
          	<i class="ion-checkmark icon purple" id=""></i> Schedule an MRI<br>Follow-up with doctor 3 days after MRI
          	<br>
            <br>
          	<p class="purple">DIAGNOSIS:</p>
          	<p>Hairline fracture of left fibula. May also have torn tendon. MRI to determine.</p>
          	
          	<p class="purple">VISIT SUMMARY:</p>
          	<p>Took x-ray of ankle to confirm suspicion of break in fibula. Hairline fracture was confirmed. Administered cortisone shot to promote healing. Recommended ice and ibuprofen as needed for pain.</p>
          	
          	<p class="purple">CLAIM:</p>
          	<p>Your cost: $115</p>
            <p>UHC payment to doctor: $289 paid</p>
            <p align="center"><a href="" style:"color: #693DB6 !important; text-decoration: none !important;">See full claim</a></p>
          </div>
          <div class="item item-text-wrap">
            <img src="./images/dr_smith.png" class="col no-padding" />
          </div>
          <div class="item item-text-wrap">
          	<img src="./images/dr_zeitz.png" class="col no-padding" />
          </div>
        </div>
        </div>
  </ion-content>
</ion-view>
