<ion-view title='<img class="title-image" src="/images/logo.png" />'>

    <ion-content class="has-header padding">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper" for="autocomplete">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="foo" auto-complete id="autocomplete" placeholder="Search" ng-keypress="showList()" ng-blur="hideList"/>
            </label>
            <button class="button button-clear" ng-click='hideList()'>
                <i class="ion-gear-b" ></i>
            </button>
        </div>

        <div class="listItem bar bar-header item-input-inset" >
            <label class="item-input-wrapper">
                {{foo}}
            </label>

        </div>

        <div class="listItem bar bar-header item-input-inset" ng-click="gotTo('tab.details')">    
            <label class="item-input-wrapper" >
                MRI
            </label>
        </div>

        <div class="listItem  bar bar-header item-input-inset" ng-click="gotTo('tab.doc-details')">    
            <label class="item-input-wrapper">
                Paula Ward
            </label>

        </div>

        <div class="listItem  bar bar-header item-input-inset" ng-click="gotTo('tab.loc-details')">
            <label class="item-input-wrapper">
                Northwestern Hospital
            </label>

        </div>

        <div class="card purple-card" style="border-top-style: solid !important;">
            <div class="item item-divider item-text-wrap" ng-click="showList()">
                <h2 class="purple">Stay Healthy</h2>
            </div>
            <div class="item item-text-wrap">
                <div class="row">
                    <div class="item item-avatar">
                        <img src="/images/calender.png" class="col no-padding" />
                    </div>
                    <div class="col-75 padding item-text-wrap">
                        <p class="dash-header">Annual Physical</p>
                        <p class="reminder">Make an appointment with Dr. Wang</p>
                    </div>

                </div>
            </div>

            <div class="item item-text-wrap">
                <div class="row">
                    <div class="item item-avatar">
                        <img src="/images/health.png" class="col no-padding" />
                    </div>
                    <div class="col-75 padding">
                        <p class="dash-header">Colonoscopy</p>
                        <p class="reminder">Find a Gastroenterologist</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="card blue-card" style="border-top-style: solid !important;">
            <div class="item item-divider item-text-wrap">
                <h2 class="orange">Doctors Notes</h2>
            </div>

            <ul class="list">

                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Take 2 Advil 200mg each AM &amp; PM for 10 days, Ice left foot 3x/day for 4 days
                </li>
                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Schedule an MRI Follow-up with doctor 3 days after MRI
                </li>
                <li class="item item-checkbox item-text-wrap">
                    <label class="checkbox">
                        <input type="checkbox">
                    </label>
                    Check up on Flex Capacitor
                </li>

            </ul>
        </div>

        <div class="card green-card" style="border-top-style: solid !important;">
            <div class="item item-divider">
                <h2 class="green">Cost</h2>
            </div>
            <div class="item item-text-wrap">
                <img src="./images/cost_chart.png" class="col no-padding" />
            </div>
        </div>

        <div class="card light-green-card" style="border-top-style: solid !important;">
            <div class="item item-divider">
                <h2 class="light-green">Insurance Details</h2>
            </div>
            <div class="item item-text-wrap">
                <img src="./images/insurance_details.png" class="col no-padding" />
            </div>
        </div>


       <!--  <a ui-sref="tab.details" class="btn button">details page</a> -->
        <!-- <a  class="btn button" ng-click="openModal()">Filters</a> -->
    </ion-content>
</ion-view>
