<ion-view title='<img class="title-image" src="/images/logo.png" />'>
  <ion-content has-header="true" padding="true">
  	<div class="list">
        <div class="list card item-text-wrap blue-card">
          <div class="item">
	          <h2>Health</h2>
          </div>

          <div class="item item-text-wrap">
          	<p><b>Stay Healthy</b></p>
          		<li>Annual Physical</li>
          		<ul><a href="">Make an appointment with Dr. Wang</a></ul>
          		<li>Colonoscopy</li>
          		<ul><a href="">Find a Gastroenterologists</a></ul>
          </div>
          <div class="item item-text-wrap">
          	<p><b>+ 12/20/2014 Dr. Johnson</b></p>
          	<p>Doctor's Instructions:</p>
          	<li>Take 2 Advil 200mg each AM &amp; PM for 10 days</li>
          	<li>Ice left foot 3x/day for 4 days</li>
          	<li>Get an MRI</li>
          	<li>Follow-up with doctor 3 days after MRI</li>
          	<br>
          	<p>Diagnosis:</p>
          	<li>Hairline fracture of left fibia. May also have torn tendon. MRI to determine.</li>
          	<br>
          	<p>Medications:</p>
          	<li>Advil - 2 @ 200mg each AM &amp; PM for 10 days</li>
          	<br>
          	<p>Test Results:</p>
          	<li>Xray - left ankle</li>
          	<br>
          	<p>Claim:</p>
          	<li>Paid</li>
          	<br>
          	<table align="center">
          	  <tr>
  			    <th>Procedure</th>
  			    <th>Your Cost</th> 
  			  </tr>
  			  <tr>
  			    <td>Visit</td>
  			    <td>$40</td> 
  			  </tr>
  			  <tr>
  			    <td>Cortizone shot</td>
  			    <td>$0</td> 
  			  </tr>
  			  <tr>
  			    <td>Medical Procedure</td>
  			    <td>$75</td> 
  			  </tr>
  			  <tr>
  			    <th>Total</th>
  			    <th>$115</th> 
  			  </tr>
  			</table>
  			<br>
  			<p><a href="">See full claim</a></p>
          </div>
          <div class="item item-text-wrap">
          	<p><b>+ 10/1/2014  Dr. Smith</b></p>
          	<p>Your cost: $47.15</p>
          </div>
          <div class="item item-text-wrap">
          	<p><b>+ 7/17/2014  Dr. Zeitz</b></p>
          	<p>Your cost: $93.23</p>
          </div>
        </div>
  </ion-content>
</ion-view>
