<ion-view title='<img class="title-image" src="/images/logo.png" />'>
    <ion-content has-header="true" padding="true">
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper" for="autocomplete">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" ng-model="foo" auto-complete id="autocomplete" placeholder="Search" ng-keypress="showList()" ng-blur="hideList" />
            </label>
            <button class="button button-clear" ng-click='hideList()'>
                <i class="ion-gear-b"></i>
            </button>
        </div>
        <img src="./images/medications.png" class="col no-padding" />

                <div class="card dark-blue-card" style="border-top-style: solid !important;">
                    <div class="item item-divider item-text-wrap" ng-click="showList()">
                        <h2 class="dark-blue">Eligible Refills</h2>
                    </div>
                    <div class="item item-text-wrap">
                        <img src="./images/eligible_refills.png" class="col no-padding" />
                    </div>

                    <div class="card dark-blue-card" style="border-top-style: solid !important;">
                        <div class="item item-divider item-text-wrap" ng-click="showList()">
                            <h2 class="dark-blue">Advil</h2>ibuprofen
                        </div>
                        <div class="item item-text-wrap">
                            <img src="./images/advil.png" class="col no-padding" />
                        </div>
                    </div>

                <div class="card dark-blue-card" style="border-top-style: solid !important;">
                    <div class="item item-divider item-text-wrap" ng-click="showList()">
                        <h2 class="dark-blue">Nasonex</h2>mometasone furoate monohydrate
                    </div>
                    <div class="item item-text-wrap">
                        <img src="./images/nasonex.png" class="col no-padding" />
                    </div>
                </div>

                <div class="card dark-blue-card" style="border-top-style: solid !important;">
                    <div class="item item-divider item-text-wrap" ng-click="showList()">
                        <h2 class="dark-blue">Crestor</h2>rosuvastatin
                    </div>
                    <div class="item item-text-wrap">
                        <img src="./images/crestor.png" class="col no-padding" />
                    </div>
                </div>

                <div class="card dark-blue-card" style="border-top-style: solid !important;">
                    <div class="item item-divider item-text-wrap" ng-click="showList()">
                        <h2 class="dark-blue">Adderal</h2>amphetamine and dextroamphetamine
                    </div>
                    <div class="item item-text-wrap">
                        <img src="./images/adderal.png" class="col no-padding" />
                    </div>
                    
                </div>
                <div class="item item-text-wrap">
                        <img src="./images/past_medications.png" class="col no-padding" />
                    </div>
    </ion-content>
</ion-view>