<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-only">

  <!-- Home Tab -->
  <ion-tab title="Home" icon="icon ion-home" ui-sref="tab.dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- MyHealth Tab -->
  <ion-tab title="My Health" icon="icon ion-heart" href="#/tab/friends">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <!-- Cost Tab -->
  <ion-tab title="" icon="icon ion-social-usd" href="#/tab/cost">
    <ion-nav-view name="tab-cost"></ion-nav-view>
  </ion-tab>


  <!-- Medications Tab -->
  <ion-tab title="" icon="icon ion-mouse" ui-sref="tab.medications">
    <ion-nav-view name="tab-meds"></ion-nav-view>
  </ion-tab>


<!-- Help Tab-->
   <ion-tab title="" icon="icon ion-medkit" href="#/tab/help">
    <ion-nav-view name="tab-help"></ion-nav-view>
  </ion-tab>


</ion-tabs>
